/** App's styles **/
html, body, #root {
  height: 100%;
  margin: 0;
}

.App {
  height: 100%;
}

.App--main {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header {
  width: 100%;
  margin-top: 0rem;
  background-color: #323232;
}

.header--breadcrumbs {
  font-family: Helvetica Neue for IBM, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  letter-spacing: 0.01875rem;
  color: #000000;
}

.base--a, .base--a:focus, .base--a:visited, .base--a:hover {
  color: #FFFFFF;
  font-weight: 100;
  font-size: 1.5rem;
  text-decoration: none;
}

.alert {
  margin-top: 0rem;
}

.chat-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow-y: hidden;
}

.chat-column {
  height: 100%;
  text-align: left;
  width: 100%;
  overflow: auto;
}

.scrollingChat {
  height: 100%;
  overflow: auto;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}

.responsive-columns-wrapper {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -ms-display: flex;
  -ms-flex-direction: row;
  height: 100%;
}

.responsive-column {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
  overflow-y: auto;
  text-align: center;
}

.message-inner {
  opacity: 0;
  margin-top: 0.9375rem;
  -webkit-transition-property: opacity, margin-top;
  -webkit-transition-duration: 0.75s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-property: opacity, margin-top;
  -moz-transition-duration: 0.75s;
  -moz-transition-timing-function: ease-in;
  -o-transition-property: opacity, margin-top;
  -o-transition-duration: 0.75s;
  -o-transition-timing-function: ease-in;
  -ms-transition-property: opacity, margin-top;
  -ms-transition-duration: 0.75s;
  -ms-transition-timing-function: ease-in;
  transition-property: opacity, margin-top;
  transition-duration: 0.75s;
  transition-timing-function: ease-in;
}

.load .message-inner {
  opacity: 1;
  margin-top: 0.3125rem;
}

.from-user {
  text-align: right;
}

.from-user .message-inner {
  font-size: 1rem;
  color: #323232;
  letter-spacing: 0.015rem;
  line-height: 1.3125rem;
  background: #ECF0F2;
  border-radius: 0.55rem;
  text-align: left;
  display: inline-block;
  min-width: 6rem;
  max-width: 100%;
  word-wrap: break-word;
}

.from-user .message-inner p {
  padding: 1.5rem;
}

.from-user .message-inner:before, .from-user .message-inner:after {
  content: "";
  position: absolute;
}

.from-user .message-inner:before {
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-bottom: 1rem solid #ECF0F2;
  margin: -0.9375rem 1.5rem 0 0;
  float: right;
  position: relative;
}

.from-watson .message-inner {
  font-size: 1rem;
  color: #323232;
  letter-spacing: 0.015rem;
  line-height: 1.3125rem;
  background: #F2EEEE;
  border-radius: 0.55rem;
  text-align: left;
  display: inline-block;
  min-width: 6rem;
  max-width: 100%;
  word-wrap: break-word;
}

.from-watson.latest .message-inner {
  color: #323232;
}

.from-watson .message-inner:before {
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-bottom: 1rem solid #F2EEEE;
  margin: -0.9375rem 0 0 1.5rem;
}

.from-watson p {
  padding: 1.5rem;
}

.from-watson.latest.top p:before {
  content: ".";
  color: #9855D4;
  background-size: 0.3125rem 1.3125rem;
  position: absolute;
  z-index: 2;
  width: 0.3125rem;
  height: 1.3125rem;
  line-height: 1.3125rem;
}

.from-user .summary, .from-watson .summary {
  font-family: 'Inconsolata', monospace;
  font-size: 0.8125rem;
  color: #959595;
}

.from-user .summary {
  margin: 0 0 1.125rem 0;
  padding-left: 1.5rem;
  background-size: 0.625rem;
}

.from-watson .summary {
  margin: 0 0 1.125rem 2.1875rem;
  background-size: 0.625rem;
}

.from-user .time, .from-watson .time {
  font-family: 'Inconsolata', monospace;
  font-size: 0.8125rem;
  color: #959595;
}

.from-user .time {
  margin: 0 0rem 0rem 0;
  padding-right: 0rem;
  background-size: 0.625rem;
}

.from-watson .time {
  margin: 0 0 0rem 0rem;
  padding-left: 0rem;
  background-size: 0.625rem;
}

.alert-container {
  margin-top: 1rem;
  max-width: 768px;
  width: 100%;
  padding: 0 1rem;
}
